body{
  background-color:#FFFFFF;
  text-align: center;
  border: 0px;
  border-top: 0px;
  margin:0px
}

h1{
  color:#000000;
  font-family: 'Bellefair', serif;
  font-family: 'Titillium Web', sans-serif;
}

p{
  color:#000000;
  font-family: 'Bellefair', serif;
  font-family: 'Titillium Web', sans-serif;
}

h5{
  color:#000000;
  font-family: 'Bellefair', serif;
  font-family: 'Titillium Web', sans-serif;
}

.link-bar {
  text-align: center;
  border: 0px;
  border-top: 0px;
  margin:0px;
  height: 35px;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.welcome {
  text-align: center;
  border: 0px;
  border-top: 0px;
  margin:0px;
  height: 50px;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.rainbow:link, .rainbow:visited,  .rainbow:hover, .rainbow:active {
  text-decoration: none;
  color:#000000
}

.rainbow {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #transparent;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    font-family: 'Bellefair', serif;
    font-family: 'Titillium Web', sans-serif;
}

.rainbow:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.rainbow:active {
    color: #FFFFFF
}

.rainbow:active:after {
    background: transparent;
}

.rainbow:hover:before {
    opacity: 1;
}

.rainbow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    left: 0;
    top: 0;
    border-radius: 14px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.portrait {
  text-align: center;
  border: 40px;
  border-top: 10px;
  margin:20px;
  height: 400px;
  width:auto;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.my-writing {
  font-size: 24px;
  text-align: center;
  border: 0px;
  border-top: 0px;
  margin:0px;
  height: 50px;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}
